

div, article, section, header, footer, nav, li {
	position:relative;
}

 body{
background:#fff;
	color: #444;
	font-size: 16px;
	font-weight:300;
	font-family:'Open Sans', Arial, sans-serif;
 padding-top: 130px;
 }
 .row {
	margin-bottom:30px;
}

.row .row{
	margin-bottom:30px;
}

.row.nomargin {
	margin-bottom:0;
}
 
 
 /* Navigation */
.navbar {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;margin-bottom: 0;}
.navbar .container {position: relative;}
.navbar-default {-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;width: 100%;border: none;border-bottom: 1px solid #e7e7e7;background-color: #000;}
.navbar-default .navbar-nav > li > a {color: #fff;font-weight: bold;font-size: 20px;}
.navbar-default .navbar-nav > li > a:hover {background-color: transparent;color: #fff;}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {background-color: transparent;color: #fff;}
.navbar-default .navbar-nav .active > a,.navbar-default .navbar-nav .active > a:hover,.navbar-default .navbar-nav .active > a:focus {color: #fff;background-color: transparent;}
.navbar-default .navbar-toggle {margin: 10px 0 0 15px;}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {border: none;background: #f65;}
.navbar-default .navbar-toggle i {font-size: 31px;}
.navbar-default .navbar-collapse {float: right;border-top: none;padding-left: 0;padding-right: 0;}
.navbar-brand>img {padding: 5px;}

@media screen and (max-width: 768px) {.navbar-default .navbar-collapse {padding-left: inherit;padding-right: inherit;}}
@media screen and (max-width: 992px) {.navbar-default .navbar-collapse {width: 100%;margin-left: 0;margin-right: 0;max-height: none;}}
@media (min-width:768px) {.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {margin-left: 0;}}

.main-navbar-nav {-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
.main-navbar-nav > li > a {padding-top: 30px;padding-bottom: 30px;line-height: 1;}
.main-navbar-nav li > .dropdown-menu {-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;min-width: 225px;border: none;border-top: 2px solid #094F20;}
.main-navbar-nav li > .dropdown-menu > li > a {padding: 10px;position: relative;color: #094F20;line-height: 1.12857143;font-size: 12px;}
.main-navbar-nav li > .dropdown-menu > li > a:hover,.main-navbar-nav li > .dropdown-menu > li > a:focus {color: #094F20;background-color: transparent;}
.main-navbar-nav li > .dropdown-menu > li > a i {position: absolute;right: 20px;top: 50%;margin-top: -8px;font-size: 16px;}

@media screen and (min-width: 993px) {.main-navbar-nav .dropdown:hover > .dropdown-menu {display: block;}.main-navbar-nav .dropdown:hover > .dropdown-menu .dropdown:hover .dropdown-menu {left: 225px;top: 0;margin-top: -2px;}}
@media screen and (max-width: 992px) {.main-navbar-nav > li {border-bottom: 1px solid #f3f3f3;}.main-navbar-nav > li:last-child {border-bottom: none;}.main-navbar-nav > li > a {padding-top: 12px;padding-bottom: 12px;}}

.navbar-brand {height: auto;padding: 0;}

@media screen and (max-width: 992px) {.navbar-toggle {display: block;}.navbar-collapse.collapse {display: none !important;}.main-navbar-nav.navbar-nav,.main-navbar-nav.navbar-nav > li {float: none !important;}.navbar-collapse.collapse.in {display: block !important;overflow-y: auto !important;}}
/*button config*/

.row1{padding-top:100px;
padding-bottom:30px;
padding-left:5px;
padding-right:5px;
float:inherit}
.button {
  padding: 1px 300px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #145A32;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #145A32}

.button:active {
  background-color: #145A32;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* slider*/
/* === section header === */

#header-wrapper {
	width: 100%;
	min-height: 600px;
	margin-top: -60px;
	padding-top:160px;
	text-align:center;
}


#header-wrapper h1 {
	color: #FFFFFF;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}
#header-wrapper h2 {
	color: #fff;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}

header .logo {
	text-align:center;
	margin-bottom:30px;
	
}

/* --- Header slider --- */
#header-wrapper.header-slider {
	background: #444 url(img/bg-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main-flexslider ul.slides li p {
	font-size: 72px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1;
	color:#fff;
}
#main-flexslider.flexslider {
		margin:0;
		background:none;
		border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}


/*    space*/
section.spacer {
	padding:90px 0 70px;
	color:#fcfcfc;
}
section.section {
	padding: 100px 0 80px;
}
section.section h4 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: -1px;
}
section.inner {
	padding: 50px 0 50px;
}

.spacer.green,.section.green {
	background:#084905;
}

.spacer.green,.section.green h4 {
	color:#fff;
}
section.spacer blockquote.large:before {
	color:#eee;
	opacity:0.6;
}

.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
blockquote {
	font-size:18px;
	border:none;
	padding:0;
}

blockquote.large {
	font-size:36px;
	font-weight:700;
	line-height:1.1em;
}.aligncenter {
	text-align: center;}
/*about us*/

.boxes_area {padding-top: 50px;
padding-bottom: 10px;
padding-left: 55px;
padding-right: 0px;
background-color: #fff ;	}

.meet{font-size:50px;font-weight:bold; color:#094F20;}
#edit {
    position: relative;
    
    width:  750px;
    height: 374px;
  
   
}
	
#edit1 {
    position: relative;
    
    width:  100%;
    height: 100%;
 
}	
	
/* === section blog === */

section#blog {
	background: #f2f2f2;
}

.home-post {
	background:#fff;
	
}

.home-post:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


.home-post .entry-content {
	padding:20px;
}
.home-post .entry-content h5 a {
	font-size:22px;
}
.home-post .entry-content h5 a:hover {
	color:#312f2b;
	text-decoration:none;
}
.home-post .entry-content a.more {
	font-size:13px;
}
.home-post .post-meta {
	padding:20px;
	overflow:hidden;
	color:#fcfcfc;
}
.home-post .post-meta i {
	float:left;
	margin-right:20px;
}
.home-post .post-meta span {
	margin-top:10px;
}
.home-post .post-meta span.date {
	font-weight:700;
	font-size:13px;
	float:left;
}
.home-post .post-meta span.tags {
	font-weight:700;
	font-size:13px;
	float:right;
	color:#ddd;
}
.home-post .post-meta span.tags a {
	color:#fcfcfc;
}
/*contact us */
.blankdivider30 {
	height: 30px;
	display: block;
}
.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
    background: #fff;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
    background: #fff;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

#contact-form {
	position: relative;
	z-index: 999;
}

#contact-form input[type=text], .contactForm textarea {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	font-size:16px;
	text-align: left;
	vertical-align: middle;
}

.contactForm textarea {
	height: 156px;
}

#contact-form input[type=text]:focus, .contactForm textarea:focus {
	background: #fff;
	color: #555;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#contact-form input[type=text] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 16px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}
div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.btn.btn-theme {
	background: #000 !important;
}
.home-post .post-meta {
	background: #084905;
}

/* =========================================================
06. Footer
============================================================ */

footer {
	background: #2b2b2b;
	text-align: center;
	color: #ddd;
	padding:50px 0 50px;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: #fff;
}

footer ul.social-networks {
	list-style:none;
}

footer ul.social-networks li {
	display:inline;
}

footer ul.social-networks li i {
	display:inline-block;
}

footer ul.social-networks li a {
	color: #5e5e5e;
	margin: 0 5px;
}

footer ul.social-networks li a:hover {
	text-decoration:none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

footer ul.social-networks li i.icon-bgdark {
	background:#414141;
	color: #656565;
}


footer ul.social-networks li a i.icon-instagram:hover {
	background: #ba7b3d;
	color: #fff;
}

footer ul.social-networks li a i.icon-twitter:hover {
	background: #5ad2eb;
	color: #fff;
}
footer ul.social-networks li a i.icon-dribbble:hover {
	background: #f57b71;
	color: #fff;
}
footer ul.social-networks li a i.icon-pinterest:hover {
	background: #d84848;
	color: #fff;
}


